
#header{
    /* border: 2px solid red; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 29px;
    /* margin-right: 20px; */
    align-items: center;
    padding-right: 20px;
}
#header:first-child{
margin-left: 100px;
}

#anchor1{
    columns: #141d6e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

#products{
    /* border: 2px solid red; */
    height:600px;
    margin-right: 400px;
    margin-left: 30px;
    /* display: flex; */
  gap: 10px;
  width: 88%;
 
}
#product{
    display: flex;
    height: 200px;
    border: 0.005px solid rgb(200, 193, 193);
    border-radius: 3px;
    gap: 20px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
border: 1px solid rgb(225, 220, 220);
}


#first {
    width: 20%;
    /* border: 2px solid black; */
    /* gap: 10px; */
   
}
#first img{ 
    width: 85%;
    height: 93%;
 
    margin: auto;
    margin-top: 8px;
    margin-left: 5px;
}
#second{
    /* border: 2px solid rgb(232, 11, 11); */
    display: block;
    width: 690px;
    ;
}
#second h3{
    margin-left: 20px;
}
#second:nth-child(2){
    margin-left: -10px;
    font-family: Lora;
}


#detail{
    display: flex;
    /* border: 2px solid rgb(11, 232, 96); */
    font-size: 14px;
    color: #333333;
    width: 115%;
    margin-left: -20px;

}

    #detail h2{    
        font-family: 'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 17px;
       margin-top:30px;
    }

#anchor{
    /* border: 2px solid rgb(232, 11, 11); */
 
    margin-right: -190px;
    
    display: flex;
    margin-top: 100px;
    width: 200px;
    margin-left: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#176D93;
    font-weight: 100;
}
#second select{
    margin-top: 20px;
    height: 40px;
    width: 60px;
    margin-left: 5px;
    border: none;
    border-radius: 9px;
    text-align: center;
    text-decoration-color: rgb(119, 119, 197);

}
#second h3{
    margin-top: 30px;
}
#third{
    /* border: 2px solid red; */
    margin-left: -110px;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    
}

#third h2:nth-child(2){
    text-decoration: line-through;
    color: #B09975;
   font-size: 17px;
}

#third h2{
    /* border: 2px solid black; */
    width: 200px;
    /* padding: 10px; */
    font-size: 16px;
    color: #666;
    font-family: Source Sans Pro Semi Bold;
}
#Price{
    background-color:#e1ecf1;
    /* width: 40%; */
    margin-left: 10px;
    margin-top: 20px;
    text-align: center; 
    /* border: 2px solid red;   */
  border: left 6px #083144;
  
    font-size: 16px;
    width: 100px;
    height: 30px;
    text-align: center;
    font-family: Source Sans Pro;
    

}
#Price h3{
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 5px;
    border-left: #083144;
    border: left 6px #083144;
    /* margin-left: -85px; */
}
/* #Price hr,#hori{
    border-width: 7px;
    border-color: #2f4254;
    border-left: #D5a249;
} */

#total_items{
    color: #333333;
}

#order{
    /* border: 2px solid green  ; */
   margin-left: -400px;
   width: 410px;
   border-radius: 7px;
   font-family: Lora;
}



#container1 {
    /* border: 5px solid black; */
    display: flex;
    }
#bill,#coupon{
            background-color: #fafafa;
        padding: 10px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 7px;
        border: 0.05px solid gray;
      
}

#bill p{
    font-weight: 300;
    font-size: 17px;
    margin-left: 20px;
    color: #938b8b;
    font-size-adjust:unset
 }

 /* #order span{ */
    /* border: 2px solid red; */
    
 /* }  */

 

#od,#coupon h3,h2{
    margin-left: 20px;
    font-weight: 700;
    
    font-size: 16px;
    color: #333333;
    margin-top: 15px;
}
#od{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#det1{
    padding-left: 130px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    
}
#det2{
    padding-left: 100px;
    font-weight: 700;
    color:#D5a249;
}
#det3{
    padding-left: 150px;
    color:#D5a249;
    font-weight: 700;
}
#det4{
    padding-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#wallet{
    margin:25px 0px 25px 30px;
    background-color: #FEFBE4;
    padding:10px;
    color:#176D96;
    padding-left: 80px;
    padding-right: 80px;
}
#bill h4{
    margin-left: 20px;
    font-size: 22px;
}

#btn{
    background-color: #D5a249;
    padding: 15px 57px 15px 77px;
    border: none;
    border-radius: 4px;
    color:#333333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    
}

#ord{
    font-size: 12px;
}



/*cop*/




#coup{
    
    margin-left: 20px;
}
 #btn1{
    background: none;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#176D93;
    font-size: 17px;
    cursor: pointer;
   
   
 }

 #btn1:nth-child(2){
   
    /* border: 2px solid red; */
 }
#couponCode{
    margin-left: 20px;
}

#couponP{
    margin-left: 20px;
}

button,a,#btn1{
    cursor: pointer;
} 