#body {
  margin-top: 90px;
  width: 100%;
}

#body img {
  width: 100%;
}

#carrousel_7 {
  display: flex;
}

#bottom_icons {
  display: flex;
}

.carousel-inner {
  display: flex;
}
#firstCarouselWithControl{
  width: 100%;
  display: flex;
  justify-content: center;
}

 #firstCarouselWithControl img{
  width: 100%;
}