body{
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   
}

#data-men{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
  }

  #data-men.grid-2cols {
    grid-template-columns: repeat(2, 1fr);
  }

.card-div{
  width:100%;
  height:100%;
  /* margin-left: 15px;
  margin-right:20px; */
}
.imagebox{
  /* display: block; */
  margin-left: 47px;
  width:75%;
  height:75%;
  padding: 20px;
}

.imagebox>img{
  width: 100%;
  height: 100%;
}



.pricebox{
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pricebox p:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: line-through ;
}

.pricebox p:last-child{
  color: #b19975;
}

.brand{
  font-family: 'Source Sans Pro', sans-serif;
  color: #b19975;
  text-overflow: ellipsis;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 6px;
}

.desc{
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 6px;
  margin-top: 6px;
}

#sortbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding-bottom: 30px;
  padding-top: 25px;
  margin-bottom: 20px;

}

#sortbar > div {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#sortbar > div:first-child {
  margin-left: 20px;
  margin-right: 94px;
}

#sort{
  margin-left: auto;
  
}

 #info>h1{
  margin-top: 20px;
  text-align: center;
  font-family: Lora;
  font-size: 36px;
  font-weight: 500;
  /* letter-spacing: .1px; */
  color: #333;
  text-transform: capitalize;
  /* margin-top: 20px; */
  padding-bottom: 50px;
 
} 

#info>p{
  color: #333;
  font-weight: 300;
  padding-bottom: 30px;
  margin-top: -35px;
  padding-right: 50px;
  padding-left: 50px;
}

#sidebar{
  margin-top:5px;
  float: left;
  background-color: white;
  width: 10%;
  height: 100vh;
  padding-top: 30px;
  padding: 20px;
  text-align: left;
}


#sidebar div{
display: block;
padding:10px;
}

#refine{
text-transform: capitalize;
  font-size: 18px;
  font-family: lora;
  margin: 5px 4px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}  


#quickView {
  background-color: #ffffff;
  /* background-color: black; */
  color: #162636;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
  opacity: 77%;
  width: 100%;
  /* border: 5px solid red; */
  height: 50px;
  z-index: 5;
  box-sizing: border-box;
  padding-top: 8px;
  display: none;
  margin-top: -45px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

#data-men > .card-div:hover {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  scale: 1.09;
  transition: 1.5s;
}

#sidebar>div>div:hover{
  scale: 1.09;
  transition: 0.3s;
}

.button {
  display: inline-block;
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: rgb(206, 172, 172);
  /* border-radius: 5px; */
  border: 0.1px solid teal;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.button:first-of-type:before {
  content: "||";
  display: inline-block;
  margin-right: 5px;
  height: 90%;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  padding-left: 5px;
}

.button:last-of-type:before {
  content: "|||";
  display: inline-block;
  margin-right: 5px;
  height: 90%;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  line-height: 1;
}

#grid{
  margin: auto;
}

.button:hover {
  background-color: #575155;
}

.clear-all-button {
  background-color: #fff;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: auto;
}

.clear-all-button:hover {
  background-color: #333;
  color: #fff;
}

#gender,#color,#price,#brandbox{
  font-family: 'Source Sans Pro', sans-serif;
  /* font-size: 36px; */
  /* font-weight: 500; */
}

#grid-container,#sort{
  float: left;
  margin-right: 10px;
  font-style: normal;
  font-weight: 400;
  color: #939393;
  font-size: 14px;
  top: -2px;
  position: relative;
  text-transform: uppercase;
}

#sortit{
  /* appearance: none; */
  /* -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0; */
  padding:20px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  color: #666;
  border: 0.6px solid #333;
  padding: 1px 20px 1px 6px;
}

#salediv{
  margin-top:90px;
  background: #e8f8ff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#allstarsale{
  margin-left: 35px;
  color:#204353;

  /* font-size: 14px; */
  font-weight: 800;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

#jawdropin{
  color:#333333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
  /* body,div{
    border: 2px solid teal;
  } */


  @media all and (min-width:50px) and (max-width:500px){
    #data {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    #sidebar {
     display: none;
    }

    #sidebar {
      display: none;
     }
     #info{
       display: none;
     }
     #sortbar{
      display: none;
     }
  }
  /* tablet-view */
  
  @media all and (min-width:421px) and (max-width:900px){
    #data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
  
  }