body{
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 30px;
    margin: auto;
    padding: 30px;
  }

  /* #data div{
    border: 2px solid red;
  } */

  .pricebox{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Lora', serif; */
  }

  .pricebox p:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: line-through ;
  }

  .pricebox p:last-child{
    color: #b19975;
  }

  .brand{
    font-family: 'Source Sans Pro', sans-serif;
    color: #b19975;
    text-overflow: ellipsis;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 6px;
  }

  .desc{
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  #sortbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    border: 2px solid red;
    background-color: #f9f9f9;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  #sortbar > div {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  #sortbar > div:first-child {
    /* margin:0px; */
  
    margin-left: 20px;
    margin-right: 94px;
    /* paddin10px 20px; */
  }

  #sort{
    margin-left: auto;
  }

  #info{
    /* padding-bottom: 50px; */
    text-align: center;
    margin-bottom: 5vh;
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: .1px;
    color: #333;
    text-transform: capitalize;
  }